<nav class="navbar">

<a href="/">Home</a>

{% if session.get("student") %}

<a href="/student-dashboard">Dashboard</a>

<a href="/events">Events</a>

<a href="/notices">Notices</a>

<a href="/feedback">Feedback</a>

<a href="/attendance">Attendance</a>

<a href="/logout">Logout</a>

{% endif %}

{% if session.get("admin") %}

<a href="/admin-dashboard">Admin Dashboard</a>

<a href="/add-event">Add Event</a>

<a href="/add-notice">Add Notice</a>

<a href="/reports">Reports</a>

<a href="/logout">Logout</a>

{% endif %}

</nav>